@import '~bootstrap/scss/bootstrap';

.animation-effect {
background: linear-gradient(-45deg, #D4D4D4, #FBFAF8, #778BA5, #FFFFFF);
width: 100%;
height: 100vh;
background-size: 400% 400%;
position: relative;
animation: change 10s ease-in-out infinite;
}

@keyframes change {
0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
}
}
